---
---

/* import the minima scss */
@import "minima";

/* BEGIN CUSTOM CONTENT */

/* site header */
.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
}

/* specify headers */

.post-content h1 {
	font-size: 26px;
	scroll-margin-top: 80px; /* to make sidebar scrolling work */
}

.post-content h2 {
	font-size: inherit;
	font-weight: bold;
	scroll-margin-top: 80px; /* to make sidebar scrolling work */
}

.post-content h3 {
	font-size: inherit;
	font-style: italic;
	scroll-margin-top: 80px; /* to make sidebar scrolling work */
}

/* sidebar stuff */

.page-content {
	margin-top: 60px;
}

.sidenav {
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 80px;
	float: left;
	left: calc((100% - 740px)/2 - 220px);
/*	background: #eee;*/
	overflow-x: hidden;
	padding: 8px 0;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 16px;
	color: #2196F3;
	display: block;
}

.sidenav p {
	padding: 6px 8px 6px 16px;
	margin-bottom: 0px;
	font-weight: bold;
}

.sidenav .navheader {
	color: #000;
	font-weight: bold;
}

.sidenav a:hover {
	color: #064579;
}

@media screen and (max-width: 1230px) {
	.sidenav {display: none;}
}

/* floating image */

.floatright {
	float: right;
	margin-left: 8px;
}

/* tooltip */

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -80px;
  font-size: 14px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}